body {
	background: #fff !important;
}

#wpcontent {
	padding-left: 0 !important;
}

.plugin_head {
	padding: 60px 0 30px;
	max-width: 650px;
	margin: 0 auto;
	text-align: center;
}

.plugin__head_container {
	background: #f2f7f9;
}

.tabs__panels {
	max-width: 900px;
	margin: 0 auto;
	padding: 30px 0;
}

/* Help and Support content */
.tab__panel_flex {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	min-height: 50vh;
}

.tab__panel_left {
	width: 65%;
}

.tab__panel_right {
	width: 30%;
}

.video__container iframe {
	width: 100%;
	border: 1px solid #ccc;
	box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px;
	padding: 5px;
	border-radius: 5px;
	box-sizing: border-box;
}

.single__support_panel {
	box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px;
	border-radius: 5px;
	padding: 15px 15px;
	box-sizing: border-box;
	margin-bottom: 15px;
	background: #f2f7f9;
}

.support__title {
	margin: 0 0 10px;
}

.support__link {
	text-underline-offset: 3px;
}
